*{
    box-sizing: border-box;
    
    /*fontG*/
    font-family: 'Open Sans', sans-serif;
    /*fontG*/
}
body{
    margin: 0;
    padding: 0;
}

.contenitore_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

}

.contenitore_link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
}

.contenitore_pulsante{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0061FF;
    height: 37px;
    max-width: 66px;
}

/*fine header*/

.jumbotron{
    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto;
}


#contenitore_benvenuto{
    background-color: #B4D0E7;
    height: 745px;
    
}

#contenitore_titolo{
    width: 50%;
    height:150px ;
    font-size: 45px;

}

.contenitore_colonna .contenitore_pulsante{
    width: 200px;
}

h1{
    font-size: 72px;
    
}
h2{
    font-size: 47px;
}

.text{
    height: 290px;
    width: 300px;
    
    
}

.img_section{
    width: 598px;
}

.img_section img{
    width: 100%;
}

.text-img-section{
    display: flex;
    align-items: center;
}

/*fine parte benvenuto*/

.contenitore_flex{
    display: flex;
    justify-content: space-between;
}


.sezione_abbonamenti{
    max-width: 834px;
    margin: 0 auto;
    font-size: 20px;
}


.pulsanti_abbonamenti span{
    padding-right:40px;
}

.colonna{
    width: 230px;
    height: 1000px;
    border: gray solid 1px;
    margin-top: 25px;
}
.rettangolo_colonna{
    height: 30px;
    border: gray solid 1px;
    text-align: center;
}

.sottocontenitore_colonna{
    margin: 12px;

}

.costo_abb p, b{
    font-size: 15px;
    
}

.costo_abb:last-child{
    color: gray;
}

.vantaggi_a_disposizione div{
    padding-top: 25px;
}

.contenitore_pulsante{
    width: 100px;
}

.pulsante_provagratuita{
    height: 27px;
    width: 200px;
    background-color: #0061FF;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
p i{
    color: blue;
}

#underline{
    height: 1px;
    width: 60px;
    background-color: lightgray;
    border-color: lightgray;
}