*{
    box-sizing: border-box;
    /*fontG*/
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /*fontG*/
}
body{
    margin: 0;
}

.contenitore_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

}

.contenitore_link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
}

.contenitore_pulsante{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0061FF;
    height: 37px;
    width: 66px;
}

/*fine header*/


#contenitore_benvenuto{
    height: 220px;
    background-color: #B4D0E7;
    text-align: center;
    display: flex;
    justify-content: center;
}

#contenitore_titolo{
    width: 50%;
    height:150px ;
    font-size: 45px;

}

.contenitore_colonna{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: yellow;
}

.contenitore_colonna .contenitore_pulsante{
    width: 200px;
}
.sfondoprimo{
    height: 400px;
    width: 900px;
    background-color: #B4D0E7;
}