*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*fontG*/
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /*fontG*/
}
body{
    margin: 0;
}

.contenitore_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

}

.contenitore_link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
}

.contenitore_pulsante{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0061FF;
    height: 37px;
    width: 66px;
}

/*fine header*/

.jumbotron{
    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto;
}


#contenitore_benvenuto{
    background-color: #B4D0E7;
    text-align: center;
    
}

#contenitore_titolo{
    width: 50%;
    height:150px ;
    font-size: 45px;

}



.contenitore_colonna .contenitore_pulsante{
    width: 200px;
}

h1{
    font-size: 72px;
}

.text{
    height: 290px;
    width: 300px;
    
}

.img_section{
    width: 698px;
}

.img_section img{
    width: 100%;
}

.text-img-section{
    display: flex;
    align-items: center;
}

/*fine parte benvenuto*/